
body
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 11pt;
	/*line-height: 22px;*/
	text-align:justify;
	
	color: #fafafa;
	background-color: #904257;
	background: url("background.png") fixed;
	background-position: center 0px;
}

div
{
	border-radius: 4px;
}

header
{
	text-align: center;
}

main
{
	margin: 0 auto;
	width: 900px;
}

div.content
{
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
	
	padding: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

div.window
{
	background-color: #133377;
	background: url("background_altblur.png") fixed;
	background-position: center 0px;
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75) inset; */
}

div.footer
{
	text-align: center;
	font-size: 10pt;
}

div.code
{
	font-family: monospace;
	font-size: 10pt;
	margin: 5px;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center,
cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4,
h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre,
q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th,
thead, tr, tt, u, ul, var
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
}

h1 b, h1 strong, h2 b, h2 strong, h3 b, h3 strong, h4 b, h4 strong, h5 b,
h5 strong, h6 b, h6 strong
{
	font-weight:600;
}
h1 { font-size:60pt;    line-height:75pt;    text-shadow: 0px 0px 30px #fff; }
h2 { font-size:30pt;    line-height:45pt;    text-shadow: 0px 0px 20px #fff; }
h3 { font-size:24pt;    line-height:36pt;    text-shadow: 0px 0px 10px #fff; }
h4 { font-size:16.5pt;  line-height:25.5pt;  text-shadow: 0px 0px 5px #fff; }
h5 { font-size:13.5pt;  line-height:19.5pt;  text-shadow: 0px 0px 2px #fff; }
h6 { font-size:12pt;    line-height:16.5pt;  text-shadow: 0px 0px 1px #fff; }

p
{
	margin-bottom: 10px;
}

a
{
	text-decoration: none;
	color: inherit;
}

/* The menu bar items... */

div.menu
{
	display: inline-block;
	font-size: 18px;
	font-weight:600;
	width: 150px;
	
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
	transition: all 0.2s ease-in-out;
}

div.menu:hover
{
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

div.section
{
	text-align: center;
	margin-top: 22px;
	margin-bottom: 10px;
	padding: 5px;
}

div.section:first-child
{
	margin-top: 0px;
}

/* Contact info */


div.contacts
{
	text-align: center;
}

div.contact
{
	display: inline-block;
	width: 180px;
	height: 48px;
	margin: 10px 5px 0px 5px;
	text-align: center;
	
	
	background-color: #133377;
	background: url("background_altblur.png") fixed;
	background-position: center 0px;
	
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	transition: background-image 0.2s ease-in-out;
}

div.contact:hover
{
	background-color: #133377;
	background-image: url("background_alt.png");
}

div.contact_in
{
	transition: background-color 0.2s ease-in-out;
	
	background-color: rgba(0, 0, 0, 0.5);
	/*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75) inset;*/
}

div.contact_in:hover
{
	background-color: rgba(0, 0, 0, 0);
}

/* Projects */


div.project
{
	width: calc((180px + 10px) * 4); /* (Width of contact + margin) * contacts per line */
	margin: 0px auto; /* center it */
	margin-top: 22px;
	
	background-color: #133377;
	background: url("background_altblur.png") fixed;
	background-position: center 0px;
	
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

div.project_in
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

div.project_header
{
	text-align: center;
	
	
	/* from <h4/> */
	font-size: 16.5pt;	
	line-height: 25.5pt;
	text-shadow: 0px 0px 5px #fff;
	font-weight: 600;
}

div.project_body
{
	/*background-color: rgba(0, 0, 0, 0.5);*/
}

div.project div.contact
{
	width: calc( (760px - 20px * 4) / 4);
}
